* {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 13px;
    color: #333;
    background-color: #E8E8E8;
}

#header1 {
    width: 100%;
    height: 30px;
    background-color: #0D0F23;
    border-bottom: 1px solid black;
}

#header2 {
    width: 100%;
    height: 30px;
    background-color: #D9D9D9;
    border-bottom: 1px solid #8A8A8A;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

/*.col-sm-3 {*/
/*    flex: 0 0 auto;*/
/*    width: 25%;*/
/*}*/

/*.col-sm-9 {*/
/*    flex: 0 0 auto;*/
/*    width: 75%;*/
/*}*/

.col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}
.col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}

#leftside{
    background-color: #0D0F23;
}

#sidebar {
    /*height: 100%;*/
    /*position: fixed;*/
    /*top: 60px;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 200px;*/
    background-color: #0D0F23;
    border: 1px solid black;
}

#navbar ul li  {
    background-color: #0D0F23;
}

#main {
    padding: 10px 15px;
    margin: 0;
}

.form-control {
    display: block;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-image: none;
    border: 1px solid black;
    width: 70%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.search{
    background-color: #D9D9D9;
}

.row span a {
    background-color: #D9D9D9;
}

td{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table>tbody {
    vertical-align: inherit;
}
tbody{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

#toolbar{
    height: 30px;
    background-color: #D9D9D9;
    border-bottom: 1px solid black;
}

#toolbar a {
    background-color: #D9D9D9;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navi li a {
    color:white;
    background-color: #0D0F23;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 20px;
}

.table{
    background-color: white;
}

table, th, td {
    border: 1px solid black;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

td, th{
    background-color: white;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    font-weight: bold;
}

.add {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success{
    background-color: #145ECE;
    border-color: #145ECE;
}

.btn-default{
    background-color: #FF6A16;
    border-color: #FF6A16;
    color: white;
}

.btn-danger{
    background-color: white;
    border-color: black;
    padding: 0;
}

.btn-primary{
    background-color: white;
    border-color: black;
    padding: 0;
}

.fa-solid{
    background-color: white;
}
